/* Reset CSS */

/* Reseta as propriedades de vários elementos HTML para evitar estilos padrão do navegador */
html,
body,
div,
span,
h1,
h2,
h3,
a,
img,
ol,
ul,
li,
form,
label,
legend,
table,
footer,
header,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

/* Remove a marcação de lista para elementos <ol> e <ul> */
ol,
ul {
    list-style: none;
}
