/* estilo do corpo da página */
body {
    background-color: #F1EAE2;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* Define a cor de fundo, o layout do corpo da página como flex, altura mínima de 100vh e direção de coluna. */
}

/* estilo do conteúdo principal */
main {
    padding-bottom: 20px;
    flex-grow: 1;
    /* Adiciona espaço inferior de 20px e faz o conteúdo principal crescer flexivelmente. */
}

/* estilo do cabeçalho */
header {
    display: flex;
    padding: 5px 15px 10px 15px;
    background-color: #445969;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* Configura o layout do cabeçalho, adiciona preenchimento e define a cor de fundo e os cantos arredondados. */
}

/* estilo do botão do logo */
.logo-btn {
    background-color: #445969;
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.1s;
    /* Configura o botão do logo com fundo transparente, sem borda, cursor como ponteiro e uma transição de 0.1s. */
}

.logo-btn:hover {
    scale: 1.1;
    /* Aumenta a escala do botão do logo quando o mouse passa sobre ele. */
}

/* estilo do container do menu */
.menu-container {
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    /* Define o layout, preenchimento e espaçamento do container do menu. */
}

/* estilo dos links do menu */
.link {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #05EFA0;
    font-size: x-large;
    /* Configura a fonte, cor e tamanho dos links do menu. */
}

/* estilo do logo principal */
.logo-principal {
    text-align: center;
    height: 125px;
    border-radius: 10px;
    position: static;
    /* Define o alinhamento do texto, altura, arredondamento da borda e posicionamento do logo principal. */
}

/* estilo do título H2 */
.titulo {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    color: #445969;
    font-size: 45px;
    padding-top: 2%;
    /* Configura o título para ser centralizado, com a fonte Quicksand, cor cinza-azulada, tamanho de fonte de 45px e espaçamento superior de 2%. */
}

/* estilo do botão do produto */
.botao-produto {
    background: linear-gradient(270deg, #05efa0, #06b5f6, #05efa0, #06b5f6);
    background-size: 200% 100%;
    background-position: 100% 0;
    border: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: black;
    margin-top: 5%;
    border-radius: 10px;
    width: 48%;
    height: 35px;
    cursor: pointer;
    transition: background-position 1s ease-in-out;
    /* Define o gradiente de fundo, tamanho e posição de fundo, borda, alinhamento do texto, fonte, cor do texto, margem superior, arredondamento da borda, dimensões, ponteiro do cursor e transição para o botão do produto. */
}

/* estilo do botão do produto ao passar o mouse */
.botao-produto:hover {
    background-position: 0 0;
    transform: scale(1.05);
    /* Define a posição do plano de fundo e a transformação do botão do produto quando o mouse passa sobre ele. */
}

/* Classe utilizada no HTML criado pelo arquivo loginView.js*/
.login-invalido {
    margin: 5%;
    font-weight: 400;
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: red;
    /* Configura a margem, peso da fonte, tamanho da fonte, fonte, alinhamento do texto e cor para a classe "login-invalido". */
}

/* ---- footer ---- */

/* estilo do rodapé */
footer {
    height: 50px;
    background-color: #445969;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #05EFA0;
    font-family: 'Quicksand', sans-serif;
    margin-top: auto;
    padding: 0.5% 0;
    /* Define a altura, cor de fundo, layout, espaçamento, cor do texto e fonte para o rodapé. */
}

/* estilo do container do rodapé */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* Configura o layout, espaçamento, largura máxima e centralização do container do rodapé. */
}

/* estilo do parágrafo no container do rodapé */
.footer-container p {
    font-size: 14px;
    /* Define o tamanho da fonte para o parágrafo no container do rodapé. */
}

/* estilo do parágrafo no rodapé */
footer p {
    color: #05EFA0; 
    font-family: 'Quicksand', sans-serif; 
    /* Define a cor do texto e a fonte para o parágrafo no rodapé. */
}

/* estilo dos ícones sociais */
.social-icons {
    display: flex;
    /* Configura o layout para exibir os ícones sociais em linha. */
}

/* estilo dos links dos ícones sociais */
.social-icons a {
    color: #05EFA0;
    margin-left: 10px;
    /* Define a cor e a margem esquerda para os links dos ícones sociais. */
}

/* estilo dos ícones */
.social-icons i {
    font-size: 20px;
    /* Define o tamanho da fonte para os ícones sociais. */
}
