body {
    background-color: #F1EAE2;
}

header {
    display: flex;
    padding: 5px 15px 10px 15px;
    background-color: #445969;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.logo-btn {
    background-color: #445969;
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.1s;
}

.logo-btn:hover {
    scale: 1.1;
}

.menu-container {
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.link {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #05EFA0;
    font-size: x-large;
}

.logo-principal {
    text-align: center;
    height: 125px;
    border-radius: 10px;
    position: static;
}

/* estilo do título H2 */
.titulo {
    margin-bottom: 5%;

    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    color: #445969;
    font-size: 45px;
    padding-top: 2%;
    /* Configura o título para ser centralizado, com a fonte Quicksand, cor cinza-azulada, tamanho de fonte de 45px e espaçamento superior de 2%. */
}

/* estilo do botão do produto */
.botao-produto {
    background: linear-gradient(270deg, #05efa0, #06b5f6, #05efa0, #06b5f6);
    background-size: 200% 100%;
    background-position: 100% 0;
    border: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: black;
    margin-top: 5%;
    border-radius: 10px;
    width: 48%;
    height: 35px;
    cursor: pointer;
    transition: background-position 1s ease-in-out;
    /* Define o gradiente de fundo, tamanho e posição de fundo, borda, alinhamento do texto, fonte, cor do texto, margem superior, arredondamento da borda, dimensões, ponteiro do cursor e transição para o botão do produto. */
}

/* estilo do botão do produto ao passar o mouse */
.botao-produto:hover {
    background-position: 0 0;
    transform: scale(1.05);
    /* Define a posição do plano de fundo e a transformação do botão do produto quando o mouse passa sobre ele. */
}